.lar-abm{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.lar-abm .grid {
    flex-grow: 1;
    width: 100%;
    z-index: 3;
    order: 3;
}
.lar-abm .titulo {
    display: none;
}